C 0 -700 "K_GREEN_1" 0 -700 0 0 60 0 L
X "PIN_TEXT" "K_GREEN_1" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -600 "A_GREEN_1" 0 -600 0 0 60 0 L
X "PIN_TEXT" "A_GREEN_1" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -500 "K_GREEN_2" 0 -500 0 0 60 0 L
X "PIN_TEXT" "K_GREEN_2" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -400 "A_GREEN_2" 0 -400 0 0 60 0 L
X "PIN_TEXT" "A_GREEN_2" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -300 "K_GREEN_3" 0 -300 0 0 60 0 L
X "PIN_TEXT" "K_GREEN_3" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -200 "A_GREEN_3" 0 -200 0 0 60 0 L
X "PIN_TEXT" "A_GREEN_3" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -100 "K_GREEN_4" 0 -100 0 0 60 0 L
X "PIN_TEXT" "K_GREEN_4" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 0 "A_GREEN_4" 0 0 0 0 60 0 L
X "PIN_TEXT" "A_GREEN_4" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
L 200 100 1000 100 -1 0
L 1000 -800 1000 100 -1 0
L 1000 -800 200 -800 -1 0
L 200 100 200 -800 -1 0
P "$LOCATION" "?" 1050 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

